.header {
    background-color: #e16c03;
    position: relative;
    margin: 0 auto;
    h1 {
        margin: 0;
        text-align: left;
        font-size: 43px;
        color: #ffffff;
        padding-top: 73px;
        padding-left: 77px; 
        padding-bottom: 59px;
    }
}

.sub-header {
        position: relative;
    img{
        position: absolute;
        right: 170px;
        top: 10px;
        margin-bottom: 10px; 
    }
}
