.tabs {
    margin-left: 248px;
    margin-top: 255px; 
}
.tabs-list {
    list-style-type: none;
    margin: 0;
    display: flex;
    text-transform: uppercase; 
}

.tab-item {
    font-size: 59px;
    display: block;
    padding: 10px 75px;
    color: $orange;
    text-decoration: none;
    font-weight: bold;
    background-color: $light_orange;
}

.tabs-text {
    text-align: left;
    margin-left: 288px;
    margin-right: 288px;
    background-color: $orange;
    margin-bottom: 301px; 
}
.tabs-text-item{
     h2 {
        margin: 0px;
        padding-top: 167px;
        padding-left: 56px;
        color: $white;
        font-weight: bold;
        font-size: 80px; 
    }
    p {
        padding-left: 56px;
        padding-right: 46px;
        color: $white;
        font-size: 41px; 
    }
    p+p+p{
        padding-bottom: 89px;
    }
}